n8n-workflows/research-generate.json
{
  "name": "Social Publisher - Research & Generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-research",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "social-research-webhook"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are an expert social media manager for PixelWave AI Solutions. Your job is to write engaging, professional, and exciting social media posts about AI Automation and business growth."
            },
            {
              "role": "user",
              "content": "={{'Write a social media post about: ' + $json.body.topic + '. Include these keywords: ' + $json.body.keywords}}"
            }
          ]
        }
      },
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "draft",
              "value": "={{$json.message.content}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f7ab0757-0cc6-4eb9-a292-0b2f7d98ec34"
}
